{% extends "base.html" %}

{% load staticfiles %}

{% block navigation %}
{% if authenticated %}
  <li class="current"><a href="/">Home.</a></li>
  <li><a href="/offer/">Offer Food.</a></li>
  <li><a href="/browse/">Browse Food.</a></li>
  <li><a href="/accounts/profile/">My Account</a></li>
  <li><a href="/logout/">Log out.</a></li>
{% else %}
  <li class="current"><a href="/">Home.</a></li>
  <li><a href="/register/">Sign Up.</a></li>             
  <li><a href="/login/">Log In.</a></li>
{% endif %}
{% endblock %}

{% block title %} Home {% endblock %}

<!-- Hero
=================================================== -->
{% block header %}
	<section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   	<div class="flex-caption">
						<h1>Upgrade yourself.</h1>	
						<h2>Become the best you. </h2>
						<p><a class="button stroke smoothscroll" href="/#portfolio">Get Started</a></p>																   
            </div>						
					  
			   	</div> <!-- .flexslider -->				   

      	</div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

    {% block search %}
        {% include "search.html" %}
    {% endblock %}
    </section> <!-- #hero -->
{% endblock %}

<!-- Services
================================================== -->
{% block content %}

   <section id="portfolio">

      <div class="row section-head">

      	<div class="twelve columns">

	         <h1>Becoming more self-aware<span>.</span></h1>

	         <hr />

	         <p>UpGradeMe is a web application that allows users to give and receive anonymous, constructive criticism to and from their Facebook friends. It is designed for all users who wish to gain more self-awareness and who are willing to receive feedback from people that would know them best.

           </p>

           <p> The mission of UpGradeMe is to assist users in becoming more self-aware of their strengths and weaknesses, to self-improve, and to become the best version of themselves.  </p>

        

	      </div>

      </div>

<!--
      <div class="row items">

      	<div class="twelve columns">

            <div id="portfolio-wrapper" class="service-list bgrid-third s-bgrid-half mob-bgrid-whole">

          	    <div class="bgrid item">
                  	<div class="item-wrap">
                    <a href="/register/">
                        <img src="{% static 'foodoffers/images/services1.jpg' %}" alt="Create An Account">
                        <div class="overlay"></div>                       
                        <div class="portfolio-item-meta">
                            <h5>1. Create An Account</h5>
                        </div>                         
                    </a>
                  	</div>
                </div> <!-- /item 

               	<div class="bgrid item">
                  	<div class="item-wrap">
                    <a href="/browse/">
                        <img src="{% static 'foodoffers/images/services2.jpg' %}" alt="Browse Food">
                        <div class="overlay"></div>  
                        <div class="portfolio-item-meta">
                            <h5>2. Browse Food Offers</h5>
                        </div>
                    </a>
                  	</div>
                </div> <!-- /item 

                <div class="bgrid item">
                  	<div class="item-wrap">
                    <a href="/offer/">
                        <img src="{% static 'foodoffers/images/services3.jpg' %}" alt="Share A Meal">
                        <div class="overlay"></div>  
                        <div class="portfolio-item-meta">
                            <h5>3. Share A Meal.</h5>
                        </div>
                    </a>
                  	</div>
          		  </div> <!-- /item

            </div> <!-- /portfolio-wrapper 

         </div> <!-- /twelve 

      </div>  <!-- /row -->
      
   </section> <!-- /Portfolio --> 


{% endblock %}
